<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

  <category label="32033">
    <setting id="backend_url"        type="text"   label="32034"  default="https://punchplay.tv" visible="false"/>
    <setting id="login_btn"          type="action" label="32035"  action="SetProperty(punchplay_login,1,10000)"  option="action"/>
    <setting id="logout_btn"         type="action" label="32036"  action="SetProperty(punchplay_logout,1,10000)" option="action"/>
  </category>

  <category label="32037">
    <setting id="scrobble_movies"        type="bool"   label="32038"  default="true"/>
    <setting id="scrobble_tv"            type="bool"   label="32039"  default="true"/>
    <setting id="scrobble_anime"         type="bool"   label="32040"  default="true"/>
    <setting id="rate_after_watching"    type="bool"   label="32020"  default="true"/>
    <setting id="show_notifications"     type="bool"   label="32041"  default="true"/>
    <setting id="notify_during_playback" type="bool"   label="32042"  default="false"/>
    <setting id="watched_threshold"      type="slider" label="32043"  default="70" range="50,5,95" option="int"/>
    <setting id="min_length"             type="number" label="32044"  default="5"/>
    <setting id="heartbeat_interval"     type="number" label="32045"  default="30"/>
  </category>

  <category label="32046">
    <setting id="sync_library_btn" type="action" label="32024" action="SetProperty(punchplay_sync_library,1,10000)" option="action"/>
  </category>

</settings>
